
@import "@wordpress/dataviews/build-style/style.css";

.settings_page_mach-style-settings {

	#wpcontent {
		padding: 0;
		background: #fff;
		min-height: 100vh;
	}

	#wpbody-content {
		padding-bottom: 0;
	}
}
